# Data Science Tools and Ecosystem

## Author
Kyle Bond

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular langauges for Data Science
- List commonly used libraies for Data Science
- List commonly used tools for Data Science 
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. dplyr
3. stringr

| Data Science Tools|
|---|
| Apache Spark |
| Jupytr Notebooks|
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335